[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-cors-headers = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-filter = "*"
django-environ = "*"
psycopg = {extras = ["binary"], version = "*"}
requests = "*"
gunicorn = "*"
whitenoise = "*"
spotipy = "*"
drf-spectacular = "*"
dj-database-url = "*"

[dev-packages]
factory-boy = "*"
coverage = "*"
ruff = "*"
mypy = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}

[requires]
python_version = "3.10"
