[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-allauth = "*"
django-filter = "*"
drf-yasg = "*"
python-dotenv = "*"
requests = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
dj-rest-auth = "*"

[dev-packages]
coverage = "*"
mypy = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}

[requires]
python_version = "3.10"
