$full-height: 100vh;
$footer-height: 95px;
$header-height: 50px;
$content-height: calc(#{$full-height} - #{$footer-height});
$main-height: calc(#{$content-height} - #{$header-height});

$sidebar-top-height: 245px;
$sidebar-playlists-height: calc(#{$content-height} - #{$sidebar-top-height} - 15px);

$spotify-gray: #191414;
$gray-font: #888;
$gray-border: #262626;


/*
  Main section - Sidebar, Header + Content
*/
.main {
  height: $content-height;
  overflow: hidden;
}


/*
  Header
*/
.header {
  background: black;
  padding-left: 25px;
  color: white;
  font-weight: bold;
  height: $header-height;

  .header__left {

    .header__back, .header__forward {
      color: #f6f6f6;
      background: #373636;
      padding: 3px;
      border-radius: 15px;
      margin-top: 10px;
      cursor: pointer;
    }

    .header__back {
      margin-right: 10px;
    }
  }

  .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    // image
    .MuiAvatar-root {
      margin-right: 5px;
      width: 30px;
      height: 30px;
    }

    // text
    span {

    }
  }
}


/*
  Sidebar
*/
.sidebar {
  padding: 0 6px;
  background: black;
  color: $gray-font;

  .sidebar__inner {
    padding-left: 10px;

    .sidebar__top {
      height: $sidebar-top-height;
    }
  }

  .sidebar-navtab, .sidebar-tab {
    padding: 3px 0;
    font-weight: 600;

    &:hover {
      color: white;
      cursor: pointer;
      transition: color 0.5s;
      font-weight: 700;

      .icon-fav {
        color: white;
        background: linear-gradient(
            145deg,
            rgb(8, 0, 252) 0%,
            rgb(135, 86, 214) 30%,
            rgb(176, 137, 240) 83%,
            rgb(219, 215, 215) 100%
        );
        transition: all 0.75s;
      }

      .icon-add {
        background: rgb(227, 216, 197);
        transition: background 0.5s;
      }
    }

  }

  .icon-add {
    color: black !important;
    background: rgb(186, 169, 145);
  }

  .icon-fav {
    color: #968e8e;
    background: rgb(8, 0, 252);
    background: linear-gradient(
        145deg,
        rgba(8, 0, 252, 0.8) 0%,
        rgba(135, 86, 214, 0.8) 30%,
        rgba(176, 137, 240, 0.8) 83%,
        rgba(219, 215, 215, 0.8) 100%
    );
  }

  hr {
    border: 0;
    border-top: 1.25px solid $gray-border;
    width: 95%;
    padding: 0;
    margin-right: 5%;
  }

  .playlists {
    height: $sidebar-playlists-height;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}


/*
  Content - section in the middle
*/
.content {
  padding-left: 25px;
  background: $spotify-gray;
  height: $main-height;
  overflow-y: scroll;
  color: #ffffff;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


/*
  Footer at the bottom
*/
.footer {
  height: $footer-height;
  background: $spotify-gray;
  color: $gray-font;
  border: 1px solid $gray-border;

  .player-slider {
    width: 70%;
  }

  .volume-slider {
    max-width: 150px;

    .volume-slider-icon {
      padding: 3px;
      margin-right: 4px;
    }
  }
}



