$full-height: 100vh;
$footer-height: 95px;
$header-height: 50px;
$content-height: calc(#{$full-height} - #{$footer-height});
$main-height: calc(#{$content-height} - #{$header-height});

$sidebar-top-height: 245px;
$sidebar-playlists-height: calc(#{$content-height} - #{$sidebar-top-height} - 15px);

$spotify-gray: #191414;
$gray-font: #888;
$lighter-gray-font: #bebebe;
$gray-border: #262626;


/*
  Main section - Sidebar, Header + Content
*/
.main {
  height: $content-height;
  overflow: hidden;
}


/*
  Header
*/
.header {
  background: black;
  padding-left: 25px;
  color: white;
  font-weight: bold;
  height: $header-height;

  .header__left {

    .header__back, .header__forward {
      color: #f6f6f6;
      background: #373636;
      padding: 3px;
      border-radius: 15px;
      margin-top: 10px;
      cursor: pointer;
    }

    .header__back {
      margin-right: 10px;
    }
  }

  .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    // image
    .MuiAvatar-root {
      margin-right: 5px;
      width: 30px;
      height: 30px;
    }

    // text
    span {

    }
  }
}


.icon-fav-bg {
  background: linear-gradient(
      145deg,
      rgb(8, 0, 252) 0%,
      rgba(135, 86, 214, 0.8) 30%,
      rgba(176, 137, 240, 0.8) 83%,
      rgba(219, 215, 215, 0.8) 100%
  );
}


/*
  Sidebar
*/
.sidebar {
  padding: 0 6px;
  background: black;
  color: $gray-font;

  .sidebar__inner {
    padding-left: 10px;

    .sidebar__top {
      height: $sidebar-top-height;
    }
  }

  .sidebar-navtab, .sidebar-tab {
    padding: 3px 0;
    font-weight: 600;

    &:hover {
      color: white;
      cursor: pointer;
      transition: color 0.5s;
      font-weight: 700;

      .icon-fav-bg {
        color: white;
        transition: all 0.75s;
      }

      .icon-add {
        background: rgb(227, 216, 197);
        transition: background 0.5s;
      }
    }

  }

  .icon-add {
    color: black !important;
    background: rgb(186, 169, 145);
  }

  .icon-fav-box {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cfc4c4;

    .icon-fav {
      width: 60%; // 15px
      height: 60%;
    }
  }

  hr {
    border: 0;
    border-top: 1.25px solid $gray-border;
    width: 95%;
    padding: 0;
    margin-right: 5%;
  }

  .playlists {
    height: $sidebar-playlists-height;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .playlist-item {
      cursor: default;
      text-wrap: none;

      &:hover {
        color: white;
      }
    }
  }
}


/*
  Content - section in the middle
*/
.content {
  padding-left: 25px;
  background: $spotify-gray;
  height: $main-height;
  overflow-y: scroll;
  color: #ffffff;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .playlist__root {
    padding: 30px 0 20px 0;

    .playlist__info-left {
      padding: 0 20px 20px 0;

      .icon-fav-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        color: white;

        .icon-fav {
          height: 40%;
          width: 40%;
        }
      }
    }

    .playlist__info-right {
      padding-bottom: 20px;

      h1 {
        margin: 0;
        padding-left: 5px;
        font-size: 3em;
        letter-spacing: 0;
        font-weight: bold;
      }

      #favourite-tracks-title, #album-title {
        padding: 0;
        font-size: 5em;
      }

      p {
        color: $lighter-gray-font;
      }

      .playlist__info-right__stats a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-right: 3px;

        &:hover {
          text-decoration: underline;
        }
      }

      .playlist__info-right__stats {
        display: flex;
        justify-items: center;
      }

      .playlist__info-right__stats img {
        margin-right: 5px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
      }
    }

    .playlist__track-image {
      padding-right: 15px;

      img {
        height: 40px;
        width: 40px;
      }
    }

    .playlist__track-title {
      font-size: 110%;
      color: white;
    }

    .playlist__track-artists {
      display: flex;
      align-items: center;
    }

    .playlist__track-row {
      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        background: #343232;

        a {
          color: #fafafa;
        }
      }
    }
  }

  .profile__root {
    padding: 30px 0 20px 0;

    .profile__info-left {
      padding: 0 20px 20px 0;

      img {
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.9);
        -moz-box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.9);
        box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.9);
      }
    }

    .profile__info-right {
      padding-bottom: 20px;

      h1 {
        margin: 0;
        padding-left: 5px;
        font-size: 4.5em;
        font-weight: bold;
      }
    }
  }
}

// Playlists view table
.MuiTableCell-root {
  border-bottom: none !important;
  color: $lighter-gray-font !important;

  // text overflow - requires some more work
  max-width: 500px; // it should be column specific
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTableHead-root {
  border-bottom: 1.25px solid $gray-border !important;
}

.Mui-selected {
  background: rgba(93, 93, 93, 0.85) !important;

  a {
    color: #fafafa !important;
  }
}

/*
  Footer at the bottom
*/
.footer {
  height: $footer-height;
  background: $spotify-gray;
  color: $gray-font;
  border: 1px solid $gray-border;

  .player__root {
    width: 75%;
    margin: auto;

    .player__icons {
      text-align: center;
      margin-top: 20px; // make it responsive later

      * { // make it responsive later
        padding: 0 10px;
        font-size: 24px;
      }
    }

    .player-slider {
      .player-slider__root {
        margin: 0 8px;
      }
    }
  }

  .volume-slider__root {
    max-width: 250px;
    padding-top: 15px;

    .volume-slider {
      max-width: 120px;
      min-width: 80px;
    }

    .volume-slider-icon {
      padding: 3px;
      margin-right: 4px;
    }
  }
}



